<div id="page">
  <div id="content">
    <div id="title">
      <span class="gradient-text">Discover</span>
    </div>

    <div id="restaurants">
      <mat-form-field>
        <input type="text" placeholder="Enter Location" matInput [formControl]="myControl"
             [matAutocomplete]="auto">
           <mat-autocomplete #auto="matAutocomplete">
             <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
               {{option}}
            </mat-option>
        </mat-autocomplete>
     </mat-form-field>

      <div class="restaurant" *ngFor="let restaurant of restaurants" >
        <mat-card class="restaurant-card" *ngIf="(filteredOptions | async).includes(restaurant.name)">
          <mat-card-header>
            <div mat-card-avatar class="restaurant-logo"></div>
            <mat-card-title>{{ restaurant.name }}</mat-card-title>
            <mat-card-subtitle
              >{{ restaurant.cuisine }} Restaurant ·
              {{ "$".repeat(restaurant.cost) }}</mat-card-subtitle
            >
            <star-rating
              [value]="restaurant.rating"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="24px"
              [readonly]="true"
            ></star-rating>
          </mat-card-header>
          <img mat-card-image src="../../../assets/kfc.jpg" />
          <mat-card-content>
            <div class="description">
              {{ restaurant.description }}
            </div>
            <div class="loyalty">
              <mat-progress-bar
                mode="determinate"
                value="40"
                color="warn"
              ></mat-progress-bar>
              <span class="loyalty-hint">
                2/5 visits until reward
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- <div id="page">
  <div id="content">
    <div id="title">
      <span class="gradient-text">Discover</span>
    </div>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

  </div>
</div> -->

