<div id="credits">
  <span class="title">Media:</span>
  <mat-list>
    <a mat-list-item href="https://material.io/resources/icons"
      >https://material.io/resources/icons</a
    >
    <a mat-list-item href="https://www.pinterest.ca/pin/293719206941243115/"
      >https://www.pinterest.ca/pin/293719206941243115/</a
    >
  </mat-list>
  <mat-divider></mat-divider>
  <span class="title">Code:</span>
  <mat-list>
    <a
      mat-list-item
      href="https://www.sitepoint.com/user-authentication-mean-stack/"
      >https://www.sitepoint.com/user-authentication-mean-stack/</a
    >
    <a
      mat-list-item
      href="https://jasonwatmore.com/post/2019/05/17/angular-7-tutorial-part-4-login-form-authentication-service-route-guard"
    >
      https://jasonwatmore.com/post/2019/05/17/angular-7-tutorial-part-4-login-form-authentication-service-route-guard
    </a>
    <a mat-list-item href="https://material.angular.io/"
      >https://material.angular.io/</a
    >
    <a mat-list-item href="https://codepen.io/genarocolusso/pen/XWbGMLp"
      >https://codepen.io/genarocolusso/pen/XWbGMLp</a
    >
  </mat-list>
</div>
