<div id="home-video">
  <video autoplay muted loop>
    <source src="/assets/home-video.mp4" type="video/mp4" />
  </video>
</div>
<div id="home-overlay">
  <div>
    <span style="font-size: xx-large; font-weight: bold;">
      Welcome to PickEasy for Restaurants
    </span>
  </div>
  <div style="margin-top: 0.5rem;">
    <span style="font-size: medium;">
      Swipe. Match. Dine.
    </span>
  </div>
  <div style="margin-top: 2rem;">
    <div *ngIf="!currentUser">
      <button
        mat-raised-button
        (click)="openSignInDialog()"
        style="margin-right: 2rem;"
      >
        Sign In
      </button>
      <button
        mat-raised-button
        class="gradient-button"
        (click)="openSignUpDialog()"
      >
        Sign Up
      </button>
    </div>

    <div *ngIf="currentUser">
      <a
        mat-raised-button
        routerLink="./my-restaurant"
        class="gradient-button"
        [ngClass]="{ 'onboarding-gradient': !currentUser?.createdRestaurant }"
        matBadge="&#8288;"
        [matBadgeHidden]="currentUser?.createdRestaurant"
        matBadgeColor="warn"
        matBadgeSize="small"
        style="margin-right: 2rem;"
        matTooltip="Create a restaurant here!"
        [matTooltipDisabled]="currentUser?.createdRestaurant"
      >
        <mat-icon>restaurant</mat-icon>
        My Restaurant
      </a>
      <a
        mat-raised-button
        routerLink="./achievements"
        *ngIf="currentUser?.createdRestaurant"
        class="gradient-button"
        style="margin-right: 2rem;"
      >
        <mat-icon>card_membership</mat-icon>
        Achievements
      </a>
      <a
        mat-raised-button
        *ngIf="!currentUser?.createdRestaurant"
        disabled
        class="gradient-button"
        style="margin-right: 2rem;"
        matTooltip="Create a restaurant to configure achievements"
      >
        <mat-icon>card_membership</mat-icon>
        Achievements
      </a>
      <a
        mat-raised-button
        routerLink="./rewards"
        *ngIf="currentUser?.createdRestaurant"
        class="gradient-button"
      >
        <mat-icon>redeem</mat-icon>
        Rewards
      </a>
      <a
        mat-raised-button
        *ngIf="!currentUser?.createdRestaurant"
        disabled
        class="gradient-button"
        matTooltip="Create a restaurant to configure rewards"
      >
        <mat-icon>redeem</mat-icon>
        Rewards
      </a>
    </div>
  </div>
</div>
