<div id="home-video">
  <video autoplay muted loop>
    <source src="/assets/home-video.mp4" type="video/mp4" />
  </video>
</div>
<div id="home-overlay">
  <div>
    <span style="font-size: xx-large; font-weight: bold;">
      Welcome to PickEasy
    </span>
  </div>
  <div style="margin-top: 0.5rem;">
    <span style="font-size: medium;">
      Swipe. Match. Dine.
    </span>
  </div>
  <div style="margin-top: 2rem;">
    <div *ngIf="!currentUser">
      <button
        mat-raised-button
        (click)="openSignInDialog()"
        style="margin-right: 2rem;"
      >
        Sign In
      </button>
      <button mat-raised-button color="accent" (click)="openSignUpDialog()">
        Sign Up
      </button>
    </div>

    <div *ngIf="currentUser">
      <a
        mat-raised-button
        routerLink="./discover"
        color="accent"
        style="margin-right: 2rem;"
      >
        <mat-icon>storefront</mat-icon>
        Discover
      </a>
      <a
        mat-raised-button
        routerLink="./groups"
        color="accent"
        style="margin-right: 2rem;"
      >
        <mat-icon>group</mat-icon>
        Groups
      </a>
      <a
        mat-raised-button
        routerLink="./profile"
        color="accent"
        style="margin-right: 2rem;"
      >
        <mat-icon>person</mat-icon>
        Profile
      </a>
    </div>
  </div>
</div>

<a mat-flat-button color="warn" id="credits" routerLink="/credits">Credits</a>

<router-outlet></router-outlet>
