<div id="page">
  <div id="content">
    <div id="title">
      <span class="gradient-text">My Picks</span>
    </div>

    <div id="restaurants">
      <div class="restaurant" *ngFor="let restaurant of restaurants">
        <mat-card class="restaurant-card">
          <mat-card-header>
            <div mat-card-avatar class="restaurant-logo"></div>
            <mat-card-title>{{ restaurant.name }}</mat-card-title>
            <mat-card-subtitle
              >{{ restaurant.cuisine }} Restaurant ·
              {{ "$".repeat(restaurant.cost) }}</mat-card-subtitle
            >
            <star-rating
              [value]="restaurant.rating"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="24px"
              [readonly]="true"
            ></star-rating>
          </mat-card-header>
          <img mat-card-image src="assets/{{restaurant.name}}.jpg" />
          <mat-card-content>
            <div class="description">
              {{ restaurant.description }}
            </div>
            <div class="loyalty">
              <mat-progress-bar
                mode="determinate"
                value="40"
                color="warn"
              ></mat-progress-bar>
              <span class="loyalty-hint">
                2/5 visits until reward
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
