#page {
  padding: 96px 32px 32px 32px;
  min-width: 320px;
}

#content {
  width: calc(100% - 64px);
  max-width: 1500px;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 32px;
  border-radius: 25px;
}

.gradient-text {
  background: linear-gradient(to right, #e8285f, #f23f43);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.gradient-text-button {
  color: #e8285f;
}

#title {
  display: flex;
  justify-content: center;
}

#title > .gradient-text {
  font-size: 32px;
  line-height: 42px;
}

#search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#search > .mat-form-field {
  width: 50%;
}

::ng-deep .mat-form-field-flex {
  align-items: flex-end !important;
}

#restaurants {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.restaurant {
  margin: 1rem;
}

.restaurant-card {
  max-width: 500px;
}

.description {
  padding: 1rem 0;
}

.favorite {
  display: flex;
  justify-content: flex-end;
}

mat-card > img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

a.gradient-text {
  font-weight: 500;
  font-size: 16px;
}

::ng-deep .mat-stroked-button .mat-ripple-element {
  background-color: #f23f43;
}

.restaurant-nav-buttons {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  #page {
    padding: 0;
  }

  #content {
    border-radius: 0;
    margin-top: 64px;
    background: none;
    padding: 16px 0;
  }
}

@media only screen and (max-width: 480px) {
  mat-card > img {
    width: 300px;
    height: auto;
  }

  .restaurant-card {
    width: 275px;
  }

  .restaurant-nav-buttons {
    flex-direction: column;
  }

  .restaurant-nav-buttons > a {
    margin: 0.25rem;
  }

  #search > .mat-form-field {
    width: 100%;
  }
}
