<div id="page">
  <div id="content">
    <div id="title">
      <span class="gradient-text">Configure Your Rewards</span>
    </div>
    <div class="reward-display">
      <mat-card class="card" *ngFor="let reward of rewards; let i = index">
        <mat-card-title>
          {{ getFormattedReward(reward) }}
        </mat-card-title>
        <mat-card-actions>
          <button mat-icon-button (click)="openEditDialog(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDeleteDialog(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <div class="{{ 'chip-' + reward.level.toLowerCase() }}">{{ reward.level }} Tier</div>
        </mat-card-actions>
      </mat-card>
      <button mat-stroked-button class="add-button" (click)="openAddDialog()">
        <mat-icon>add</mat-icon> Add New Reward
      </button>
    </div>
    <div class="footer">
      <button mat-raised-button color="primary" class="button primary-color" (click)="saveChanges()">
        <mat-icon>save</mat-icon> Save
      </button>
    </div>
  </div>
</div>
