#page {
  padding: 96px 32px 32px 32px;
  min-width: 320px;
}

#content {
  width: calc(100% - 64px);
  max-width: 1100px;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 32px;
  border-radius: 25px;
}

.gradient-text {
  background: linear-gradient(to right, #e8285f, #f23f43);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

#title {
  display: flex;
  justify-content: center;
}

#title > .gradient-text {
  font-size: 32px;
  line-height: 35px;
}

#configurator-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

#template-picker {
  min-width: 300px;
  width: 50%;
}

#reward {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  border-bottom: 1px solid #00000026;
}

.reward-field {
  padding: 0 0.25rem;
}

.reward-context-container {
  display: flex;
  align-items: baseline;
}

.reward-level {
  padding-left: 3rem;
}

.remove-reward-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.primary-color {
  background: linear-gradient(to right, #e8285f, #f23f43);
}

#save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#save-button-container > button {
  min-width: 300px;
  width: 40%;
}