#home-overlay {
  color: white;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 60%;
  z-index: 2;
  max-width: 700px;
  min-width: 220px;
  padding: 20px;
}

#home-video {
  position: fixed;
  top: 50%;
  left: 49%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  filter: blur(10px);
}

#home-video > video {
  width: 105vw;
  height: 105vh;
  object-fit: cover;
}

.gradient-button {
  color: white;
  background: linear-gradient(to right, #e8285f, #f23f43);
}

.mat-raised-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.507);
}

.onboarding-gradient {
  background: linear-gradient(
    to right,
    #ff0800,
    #e8285f,
    #f23f43,
    #f23f43,
    #e75053
  );
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.buttons-container > a,
.buttons-container > button {
  margin-right: 2rem;
}

.buttons-container > a:last-of-type,
.buttons-container > button:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 1200px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons-container > a,
  .buttons-container > button {
    margin-right: 0;
    margin-bottom: 1rem;
    max-width: 200px;
  }

  .buttons-container > a:last-of-type,
  .buttons-container > button:last-of-type {
    margin-bottom: 0;
  }
}
