<div id="sign-up-container">
  <h1>Sign Up</h1>
  <form #form="ngForm" id="sign-up-form" (ngSubmit)="signUp(form)">
    <div class="full-width">
      <mat-form-field class="names" style="margin-right: 1rem;">
        <input
          matInput
          type="text"
          name="firstName"
          required
          placeholder="First Name"
          ngModel
          minlength="1"
          maxlength="20"
        />
      </mat-form-field>

      <mat-form-field class="names">
        <input
          matInput
          type="text"
          name="lastName"
          required
          placeholder="Last Name"
          ngModel
          minlength="1"
          maxlength="20"
        />
      </mat-form-field>
    </div>

    <mat-checkbox
      [(ngModel)]="isRestaurantOwner"
      name="isRestaurantOwner"
      style="display: flex; justify-content: flex-end;"
      labelPosition="before"
      >Are you a restaurant owner?</mat-checkbox
    >

    <mat-form-field class="full-width">
      <input
        matInput
        name="username"
        required
        placeholder="Username"
        ngModel
        minlength="3"
        maxlength="20"
        pattern="[a-zA-Z0-9]+"
      />
      <mat-hint align="start"
        >Must be alphanumeric, 3-20 characters long</mat-hint
      >
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        type="password"
        name="password"
        required
        placeholder="Password"
        ngModel
        minlength="8"
        maxlength="20"
      />
      <mat-hint align="start">Must be 8-20 characters long</mat-hint>
    </mat-form-field>

    <button
      mat-stroked-button
      color="primary"
      class="full-width"
      [disabled]="loading || form.invalid"
    >
      Sign Up
    </button>
  </form>
</div>
