<div id="page">
  <div id="content">
    <div id="restaurants">
      <div *ngFor="let restaurant of restaurants">
        <span
          [innerHTML]="restaurant.name"
          class="restaurant-name"
          (click)="openDetailsDialog(restaurant)"
        ></span>
        <div>
          <span>
            You currently have
            <span class="bold">
              {{
                getCustomerLoyaltyByRestaurantId(restaurant._id)
                  ?.numberOfTickets || 0
              }}
            </span>
            tickets
          </span>
        </div>
        <div>
          <span>
            You currently are
            <span class="bold">
              {{ getCustomerLoyaltyByRestaurantId(restaurant._id)?.level }}
            </span>
            Tier
          </span>
          <div>
            <button
              *ngIf="
                getCustomerLoyaltyByRestaurantId(restaurant._id)?.level !=
                'Diamond'
              "
              mat-raised-button
              (click)="upgradeLevel(restaurant._id)"
              style="margin-right: 2rem;"
            >
              Upgrade Level
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="canvas-container">
  <canvas #canvas></canvas>
</div>
