<div id="home-video">
  <video autoplay muted loop>
    <source src="/assets/home-video.mp4" type="video/mp4" />
  </video>
</div>
<div id="home-overlay">
  <div>
    <span style="font-size: xx-large; font-weight: bold;">
      Welcome to PickEasy
    </span>
  </div>
  <div style="margin-top: 0.5rem;">
    <span style="font-size: medium;">
      Please choose which type of user you wish to login as
    </span>
  </div>
  <div style="margin-top: 2rem;">
    <div>
      <a
        mat-raised-button
        routerLink="/consumer"
        color="accent"
        style="margin-right: 2rem;"
      >
        <mat-icon>account_circle</mat-icon>
        Customer
      </a>
      <a
        mat-raised-button
        routerLink="/restaurant"
        color="accent"
        style="margin-right: 2rem;"
      >
        <mat-icon>storefront</mat-icon>
        Restaurant
      </a>
    </div>
  </div>
</div>
